<div class="container">
  <div *ngIf="notes?.length === 0" class="alert alert-warning">
  There a no notes yet! You should add one!</div>
  <h2>{{title}}</h2>
<br>

<div class="row container" *ngIf="notes?.length !== 0">
  <input #searchBox name="searchBox" placeholder="search for your note!" (keyup)="0">
  <br>
  <br>
  <div class="panel-group">
    <div class = "panel panel-default" *ngFor="let note of (notes | TagFilter:searchBox.value)">
      <div class="panel-heading">
          <span>{{ note.title }}</span>
          <span class="pull-right">{{note.date.date | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="panel-body">{{note.content}}</div>
      <div class="panel-footer">
        <a class="btn btn-default" >
          <span class="glyphicon glyphicon-edit" (click)="editNote(note)" [routerLink]="['/editNote', note.id]"></span>
        </a>
        <a class="btn btn-default">
            <span class="glyphicon glyphicon-trash" (click)="deleteNote(note); $event.stopPropagation()"></span>
        </a>
        <span class="tags">
          <i class="badge" *ngFor="let tag of note.tags">{{tag}}</i>
        </span>
        <span class="pull-right">{{note.category.label}}</span>
      </div>
    </div>
  </div>
</div>
</div>